
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    background-image: url("images/back2.jpg");
    border: solid 2px black;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.content {
    height: 85%;
    /* border: solid 0.5px rgb(209, 200, 200); */
    border-radius: 75px;
    box-shadow: 0px 0px 20px black;
    /* background-color: rgb(255, 255, 255); */
    width: 51%;
    display: flex;
    margin: auto;
}



.content button:hover {
    font-weight: 550;
    cursor: pointer;
    background-color: rgb(109, 109, 159);
}
.details{
    /* border: solid 2px greenyellow; */
    width: 80%;
    height: 90%;
    margin: auto;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.details h1
{
    margin: 10px 0px 30px 0px;
}
.details label{
    font-size: 20px;
    /* border: solid 2px greenyellow; */
}
.details input{
    height: 30px;
    width: 300px;
    margin: 20px 20px 0px 20px;
    font-size: 16px;
    padding: 15px;
    display: block;
    border-radius: 4px;
}
.details button {
    border: solid 0.5px green;
    border-radius: 8px;
    width: 70%;
    background-color: rgb(239, 245, 245);
    font-size: 20px;
    margin: 50px 0px 0px 0px;
    padding: 5px;
    text-align: center;
}
.displayError{
    color: red;
    width: 300px;
    font-size: 17px;
    /* background-color: rgb(163, 130, 130); */
    margin-left: 20px;
    visibility:visible;
    display: none;
}
.extra{
    margin-top: 50px;
}
.extra a{
    text-decoration: none;
}
.extra a:hover{
    text-decoration: underline;
    color: rgb(26, 26, 128);
    cursor: pointer;
}